.form-container {
  margin: auto;
  width: 100ex;
  max-width: 100%;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
}
@media (prefers-color-scheme: light) {
  .form-container {
    color: black;
    background-color: #d8d8d8;
  }
}
@media (prefers-color-scheme: dark) {
  .form-container {
    color: white;
    background-color: #242424;
  }
}
.form-title {
  font-size: 3rem;
}
.form-content {
  margin-left: auto;
  margin-right: auto;
}
.form-content input {
  text-align: center;
  font-size: larger;
  width: 100%;
  padding: 0.5em 0;
  margin-bottom: 1em;
  border-radius: 1em;
}
.form-content button {
  text-align: center;
  font-size: larger;
  width: 100%;
  padding: 0.5em 0;
  margin-bottom: 1em;
  border-radius: 1em;
}
@media (prefers-color-scheme: light) {
  .form-postnote {
    color: black;
    background-color: #d8d8d8;
  }
}
@media (prefers-color-scheme: dark) {
  .form-postnote {
    color: white;
    background-color: #242424;
  }
}
