<div id="container">
    <h1>Register</h1>
    <form id="main-form" action="/requests/@|token|" method="post" enctype="multipart/form-data">
        <input type="hidden" name="request-id" value="@|token|"/><br/>
        <label for="password" hidden>New Password</label>
        <input type="password" placeholder="Password" name="password" required/><br/>
        <label for="repeat-password" hidden>Repeat Password</label>
        <input type="password" placeholder="Repeated Password" name="repeat-password" required/><br/>
        @maybe[error-message]{@error-message}
        <button type="submit">Reset Password</button>
    </form>
</div>